/* Tag selector: select the 'body' element */
body { background: #00b3e6;
  /* Your code here! */
}

/* Tag selector: select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Your code here! */
width: 700px;
margin: auto;
font-family: "Helvetica Neue";
background: white;
padding: 30px
}

/* ID selector: select the element with id 'main-header' */
#main-header {
  /* Your code here! */
  color: red;
  font-size: 22px;
}

/* Class selector: select elements containing the class 'perspective-questions' */
.perspective-questions {
  /* Your code here! */
  font-style: italic;
}
